@import '../main.scss';

.Header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    height: 47px;

    @include large {
      height: 68px;
    }
  }
}
