@import "../main.scss";


.nav{
    display: flex;
    gap: 20px;
    @include large{
        gap: 50px;
}

    &-link{
        font-size: clamp(12px, 2.5vw, 24px);
        text-decoration: none;
        color: $color-primary;
        text-transform: uppercase;
        @include large{
            text-transform: none;
        }
                
    }
}


.active{
    text-decoration: underline;
}