@import '../main.scss';

.tag {
  display: flex;
  @include large {
    margin-top: 23px;
  }

  &_element {
    background-color: $color-primary;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    min-width: 84px;
    max-width: 145px;
    height: 18px;
    color: $color-secondary;
    border: none;
    margin-right: 10px;
    padding: 0px 13px;
    cursor: pointer;
    @include medium {
      font-size: 14px;
      height: 25px;
      min-width : 115px;
      max-width: 175px;
      border-radius: 10px;
    }
  }
}
