$breakpoints : (
    small: 600px,
    medium: 768px,
    large: 992px,
    extraLarge: 1200px,
);

@mixin small {
    @media screen and (min-width: map-get($breakpoints, small)){
        @content
    }
};

@mixin medium {
    @media screen and (min-width: map-get($breakpoints, medium)){
        @content
    }
};

@mixin large {
    @media screen and (min-width: map-get($breakpoints, large)){
        @content
    }
};

@mixin extraLarge {
    @media screen and (min-width: map-get($breakpoints, extraLarge)){
        @content
    }
};